@import url("https://fonts.googleapis.com/earlyaccess/nicomoji.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Nico Moji"; 
}

.portfolio-btn {
  display: flex;
}

#my_modal4{
  display: none;
}
/* モーダル */
.my_modal_body4{    
  display: none;
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: none;
  background-color: #FFF;
  overflow-y: auto;
  width: 90%;
  max-height: 80%;
  max-width: 600px;
}

/* チェック時オーバーレイとコンテンツを表示 */
#my_modal4:checked ~ .my_modal_body4, #my_modal4:checked ~ .my_modal_overlay{
  display: block;
}

.neon4 {
  position: absolute;
  text-align: center;
  font-size: 100px;
  transform: translate(-50%,-50%);
  color: #fff;
  text-shadow: 0 0 20px #5507FF;
  top: 500px;
  left: 50vw;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  cursor: hand;
  padding: 0 10px 16px 10px;
}

.neon4::after {
  content: attr(Final-task-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #5507FF;
  filter: blur(15px);
}

.neon4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #C299FF;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
}