@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.back {
  background: linear-gradient(#000099, #000000);
}

.content {
	height: 100vh;
	overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  position: absolute;
  background: white;
  width: 7px;
  height: 7px;
  margin: 10px;
  bottom: 350px;
  transition: 0.5s;
}

.box:hover {
  background: #fff;
  width: 100vw;
	height: 5px;
  transition: all 0.5s;
}

.click {
  position: absolute;
  text-align: center;
  font-size: 100px;
  transform: translate(-50%,-50%);
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  top: 100px;
  left: 50vw;
}

.click::after {
  content: attr(deta-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.click::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
}

.mark {
  position: absolute;
  bottom: 330px;
  color: white;
}

.hover {
  position: absolute;
  bottom: 300px;
  font-weight: bold;
  color: white;
}