.container1 {
	height: 100vh;
	width: 100px;
	animation: animate 4s linear infinite;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
}

.container2 {
	height: 100vh;
	width: 100px;
	animation: animate 4s linear infinite;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 61vw;
}

.container3 {
	height: 100vh;
	width: 100px;
	animation: animate 4s linear infinite;
  position: absolute;
  text-align: center;
  top: 700px;
  left: 61vw;
}

.container4 {
	height: 100vh;
	width: 100px;
	animation: animate 4s linear infinite;
  position: absolute;
  text-align: center;
  top: 700px;
  left: 0vw;
}


.light {
	width: 550px;
	height: 100px;
	background: #0f0;
}


@keyframes animate{
	0%
	{
		filter: hue-rotate(0deg) blur(50px);
	}
	100%
	{
		filter: hue-rotate(360deg) blur(50px);
	}
}