.container1 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1510px;
  left: -10px;
}

.container2 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1400px;
  left: 40px;
}

.container3 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1380px;
  left: 60px;
}

.container4 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1400px;
  left: 200px;
}

.container5 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1350px;
  left: 250px;
}

.container6 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1370px;
  left: 400px;
}

.container7 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1520px;
  left: 300px;
}

.container8 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -945px;
  left: 30px;
}

.container9 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1155px;
  left: 30px;
}

.container10 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1050px;
  left: 30px;
}

.container11 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1050px;
  left: 135px;
}

.container12 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1050px;
  left: 240px;
}

.container13 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -945px;
  left: 240px;
}

.container14 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -945px;
  left: 345px;
}

.container15 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -840px;
  left: 345px;
}

.container16 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -840px;
  left: 450px;
}

.container17 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -840px;
  left: 30px;
}

.container18 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -840px;
  left: 135px;
}

.container19 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -840px;
  left: 240px;
}

.container20 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -945px;
  left: 135px;
}

.container21 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -900px;
  left: 900px;
	transform: rotate(15deg)
}

.container22 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -870px;
  left: 1030px;
	transform: rotate(30deg)
}

.container23 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -820px;
  left: 1160px;
	transform: rotate(45deg)
}

.container24 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -900px;
  left: 1290px;
	transform: rotate(75deg)
}

.container25 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -750px;
  left: 1290px;
	transform: rotate(95deg)
}

.container26 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -750px;
  left: 850px;
	transform: rotate(50deg)
}

.container27 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -780px;
  left: 1000px;
	transform: rotate(70deg)
}

.container28 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 0.5s;
  top: -1480px;
  left: 1000px;
}

.container29 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 1s;
  top: -1480px;
  left: 1105px;
}

.container30 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 1.5s;
  top: -1480px;
  left: 1210px;
}

.container31 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 2s;
  top: -1480px;
  left: 1315px;
}


.container32 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 2s;
  top: -1375px;
  left: 1315px;
}

.container33 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
  top: -1050px;
  left: 1390px;
	transform: rotate(95deg)
}

.container34 {
	height: 100px;
	width: 100px;
	clip-path: polygon(0% 0%, 0% 100%, 2% 100%, 2% 2%, 98% 2%, 98% 98%, 2% 98%, 2% 100%, 100% 100%, 100% 0%);
  position: absolute;
  text-align: center;
	animation: rotation 2s linear infinite;
	animation-delay: 1.5s;
  top: -1375px;
  left: 1210px;
}

@keyframes rotation{
  0%{ transform:rotateX(0);}
	50%{ transform:rotateX(0deg);}
  100%{ transform:rotateX(180deg); }
}

.light {
	width: 300px;
	height: 300px;
	background: #0f0;
	animation: animate 4s linear infinite;
}


@keyframes animate{
	0%
	{
		filter: hue-rotate(0deg);
	}
	100%
	{
		filter: hue-rotate(360deg);
	}
}

.lights {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,100% {
    opacity: 1;
  }
}