<div class="back">
  <div class="profile-btn">
    <label for="my_modal1" class="neon" profile-text="profile">profile</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal1"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal1"></label><!-- オーバーレイ -->
    <div class="my_modal_body1">
      <div class="my_modal_header">
          タイトル
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>コンテンツ1</li>
              <li>コンテンツ2</li>
              <li>コンテンツ3</li>
         </ul>
      </div>
    </div>
  </div>
  
  <div class="portfolio-btn">
    <label for="my_modal2" class="neon2" portfolio-text="portfolio">portfolio</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal2"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal2"></label><!-- オーバーレイ -->
    <div class="my_modal_body2">
      <div class="my_modal_header">
          タイトル
      </div>
      <div class="my_modal_content2">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>コンテ</li>
              <li>コンテンツ2</li>
              <li>コンテンツ3</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="skill-btn">
    <label for="my_modal3" class="neon3" skill-text="skill">skill</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal3"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal3"></label><!-- オーバーレイ -->
    <div class="my_modal_body3">
      <div class="my_modal_header">
          タイトル
      </div>
      <div class="my_modal_content3">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>コンテ</li>
              <li>コンテ</li>
              <li>コンテンツ3</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="Final-task-btn">
    <label for="my_modal4" class="neon4" Final-task-text="Final_task">Final_task</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal4"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal4"></label><!-- オーバーレイ -->
    <div class="my_modal_body4">
      <div class="my_modal_header">
          タイトル
      </div>
      <div class="my_modal_content4">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>コンテ</li>
              <li>コンテンツ2</li>
              <li>コン</li>
         </ul>
      </div>
    </div>
  </div>
  
  <div class="container1">
    <div class= "light"></div>
  </div>

  <div class="container2">
    <div class= "light"></div>
  </div>
  

</div>