<div class="back">
  <div class="profile-btn">
    <label for="my_modal1" class="neon" profile-text="profile">profile</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal1"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal1"></label><!-- オーバーレイ -->
    <div class="my_modal_body1">
      <div class="my_modal_header">
          profile
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>初めまして牧野と申します。</li>
              <li></li>
              <li>私は高校を卒業後、バレエダンサーとして活動してきました。</li>
              <li>バレエ団というプロの団体に所属し、2年間の見習いを経て20歳の時、正団員。プロのバレエダンサーになることができました。</li>
              <li>しかし、私は自分の実力が足りないということをわかっていました。周りのダンサーを見てこの世界で生きていくのは難しい。と考えていました。</li>
              <li>踊りを頑張るのは当然みんながやっている。才能も身体的条件も音感も自分より優れている人と同じ量、それ以上頑張っても届かない領域があるとわかっていました。</li>
              <li>それでも、この世界で生きていくためにと踊り以外で勝負しよう。と自分は舞台上の立ち回りや演技で勝負しようと考えました。経験のない方には伝わりづらいかもしれませんが、街の場面などでは舞台上には大きな空間を作ってはいけません。人がまばらに散って街中を再現しなければお客様が違和感を感じてしまうからです。</li>
              <li>そういった頑張りが認められ昇格しました。ディレクターには「自分の実力を客観視していて、周りをよく見ているのはお前の長所だ。」と言ってもらえました。気がつくとバレエ団に入ってから８年が経っていました。</li>
              <li>この世界で生きていくのは難しい。その思いは変わっていませんでした。バレエを辞めることを決意し、学歴のない私ができる仕事を探しているとプログラマーを見つけました。</li>
              <li>完全未経験でも歓迎するという求人でしたが、やるなら少しは学んでからにしようとテックキャンプに入学しました。</li>
              <li>私は座って作業することに慣れることから始まったので、正直大変でした。でも少しずつプログラミングを楽しむことができるようになってきました。初めて扱う技術がうまくいったり、エラー解決ができた時は、今までに無い快感を感じるようになりました。</li>
              <li>まだまだ、使用できる言語は少ないですが、これからどんどん学んでいきます。</li>

         </ul>
      </div>
    </div>
  </div>
  
  <div class="portfolio-btn">
    <label for="my_modal2" class="neon2" portfolio-text="portfolio">portfolio</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal2"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal2"></label><!-- オーバーレイ -->
    <div class="my_modal_body2">
      <div class="my_modal_header">
          portfolio
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>BooksPassageというオリジナルアプリです。</li>
              <li>このアプリは、本を好きな人が読んだ本をまとめて感想を共有し、次に読む本を探すというアプリです。</li>
              <li>男女年齢問わず、本が好きな人。感想を共有したいけど身近に共有できる人がいない人、恥ずかしい人。いつも同じ作家の本ばかりで違う作家の本を探している人。そんな人たちに向けてこのアプリを作りました。</li>
              <li></li>
              <li>搭載されている機能は</li>
              <li>・ユーザー管理機能・感想投稿、編集、削除機能・コメント投稿、削除機能</li>
              <li>・投稿一覧、詳細表示機能・ユーザー詳細表示、編集機能</li>
              <li>・フォロー機能・いいね(しおり)機能・アプリ内検索機能・ジャンル別検索機能</li>
              <li>・Amazon検索機能・ネタバレ防止機能・Basic認証</li>
              <li>などがあります。また、S3の導入もしています。</li>
              <li></li>
              <li>投稿機能で本をまとめ、コメント機能で感想を共有、いいね機能で本を興味がある本をリストアップ、アプリ内検索でさらに本を探し、Amazon検索機能から本の購入。この流れの繰り返しを想定しています。</li>
              <li></li>
              <%= link_to 'http://books-passage.herokuapp.com/' do %>
                <%= image_tag 'bsss.jpeg', size: '288x158', class: "bsss"  %>
              <% end %>
              <li>http://books-passage.herokuapp.com/<li>
              <li>認証コード<li>
              <li>****</li>
              <li>****</li>
              <li></li>
              <li>GitUrl :https://github.com/maki0sato/books-passage</li>
              <li>[言語]Ruby, css, JavaScript</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="skill-btn">
    <label for="my_modal3" class="neon3" skill-text="skill">skill</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal3"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal3"></label><!-- オーバーレイ -->
    <div class="my_modal_body3">
      <div class="my_modal_header">
          skill
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>HTML/CSS</li>
              <li>JavaScript</li>
              <li>MySQL</li>
         </ul>
      </div>
    </div>
  </div>

  <div class="Final-task-btn">
    <label for="my_modal4" class="neon4" Final-task-text="final_task">final_task</label><!-- チェックボックスラベル -->
    <input type="checkbox" id="my_modal4"><!-- 非表示チェックボックス -->
    <label class="my_modal_overlay" for="my_modal4"></label><!-- オーバーレイ -->
    <div class="my_modal_body4">
      <div class="my_modal_header">
          最終課題
      </div>
      <div class="my_modal_content">
        <!-- モーダル内コンテンツ -->
          <ul>
              <li>テックキャンプの最終課題で作成したフリーマーケットのアプリケーションです。</li>
              <li></li>
              <li>搭載されている機能は</li>
              <li>・ユーザー管理機能・商品出品機能・商品一覧表示機能・商品詳細表示機能</li>
              <li>・商品情報編集機能・商品削除機能・商品購入機能・Basic認証</li>
              <li>などがあります。また、S3の導入もしています。</li>
              <li></li>
              <%= link_to 'https://furima-36733.herokuapp.com/' do %>
                <%= image_tag 'frmss.jpeg', size: '288x158', class: "bsss"  %>
              <% end %>
              <li>https://furima-36733.herokuapp.com/</li>
              <li>認証コード</li>
              <li>****</li>
              <li>****</li>
              <li></li>
              <li>GitUrl :https://github.com/maki0sato/furima-36733</li>
              <li>[言語]Ruby, css, JavaScript</li>
         </ul>
      </div>
    </div>
  </div>
  
  <div class="container1">
    <div class= "light"></div>
  </div>

  <div class="container2">
    <div class= "light"></div>
  </div>

  <div class="container3">
    <div class= "light"></div>
  </div>

  <div class="container4">
    <div class= "light"></div>
  </div>

  <p class="neon5" hello-text="Hello">Hello</p>
  
  <p class="neon6" open-text="OPEN">OPEN</p>

</div>